<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Katherine Geng">
    <meta name="keywords" content="Carnegie Mellon University, 
    Information Systems">
    <meta name="description" content="Katherine's personal website">
    <title>Katherine</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Katherine Geng</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form>
            <label for ="name">Name:</label>
            <input type="text" id = "name"><br><br>
            <label for ="email">Email:</label>
            <input type="text" id = "email"><br><br>
            <label for ="comment">Comment:</label>
            <textarea type="text" id = "comment" rows = "5" cols = "50"></textarea>
            <input type="button" value = "SEND">
            <br><br>
        </form>
        <br>
        <table>
            <tr>
                <th>Contact</th>
                <th>Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>kath45823@gmail.com</td>
                <td>Placeholder description</td>
            </tr>
            <tr>
                <td>Instagram</td>
                <td>katherinegeng_</td>
                <td>Placeholder description</td>
            </tr>
        </table>
    </div>
    <footer>
        <p>© 2025 Katherine Geng</p>
    </footer>
</body>
</html>