*{
    font-family:"Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#name_header{
    background-color: #ffd1dd;
    font-weight: 600;
    font-size: 40px;
    margin: auto;
    width: 75%;
    text-align: center;
}

header{
    color: #d9758f;
}

span{
    text-align: center;
}

a.navigation{
    text-decoration: none;
    color: #d9758f;
    margin-right: 60px;
    font-weight: 500;
    font-size: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ffe0e9;
    color: #d9758f;
    width:fit-content;
}

tr:nth-child(odd){
    background-color: #e3cad1;
}

* > form{
    display: block;
    margin: auto;
    text-align: center;
}

#submit{
    background-color: #9dcfa8;
    color: #618f6b;
    border-radius: 12px;
    border: none;
    padding: 14px;
    font-weight: 400;
    font-size: 16px;
}

#submit:hover{
    background-color: white;
    border: 2px solid #9dcfa8;
    color: #618f6b;
    border-radius: 12px;
    padding: 12px;
    font-weight: 400;
    font-size: 16px;
}

#fun-list{
    display: none;
}

#full-intro, #read-less{
    display: none;
}

#ValidateMsg{
    color: red;
    font-weight: bold;
    font-size: 20px;
}